//Variables

//tamaños
$height: 200px;
$widht: 561px;

//colores

$black: #000000;
$white: #ffff;



@for $i from 1 through 6{

    .img#{$i} { width: 50px * $i;
    
    }
}


.img3{

    height: $height *2 / 2 + 100 ;
}




.prueba1 {

    

  background: $black;
  color: $white;
  width: $widht * 2 - 100px;
@if $black == #000000{
background: purple;

}


}
